{% extends "base.html" %}

{% block content %}

    <table id="table_id" class="table table-bordered" style="width:100%">
        <thead>
            <tr id="titles">
                <th>სახელი</th>
                <th>გვარი</th>
                <th>ხელფასის ოდენობა</th>
                <th>გადახდის თარიღი</th>
                <th>ჩანაწერის შენახვის თარიღი</th>
            </tr>
        </thead>
        <tbody id="table_body">
            {% for salary_arr in salary_list %}
                <tr>
                    {% for salary in salary_arr %}
                        <td>
                            {{ salary }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>ხელფასის ოდენობა</th>
                <th>გადახდის თარიღი</th>
                <th>ჩანაწერის შენახვის თარიღი</th>
            </tr>
        </tfoot>
    </table>

    <script>
        $('#card-title').text('ხელფასების ისტორია')
        $('#collapsePages').addClass('show')
    </script>

{% endblock %}