{% extends "base.html" %}

{% block content %}

    <table id="table_id" class="table table-bordered" style="width:100%">
        <thead>
            <tr id="titles">
                <th>აიდი</th>
                <th>პროდუქტის დასახელება</th>
                {% if products %}
                    {% for title in products['titles'] %}
                        <th id="{{ title }}">{{ title }}</th>
                    {% endfor %}
                {% endif %}
                <th>რაოდენობა</th>
                <th>თითოს ფასი ₾</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table_body">
        {% if products %}
            {% for attr_entity in products['attribute_entities'] %}
                {% set values = attr_entity.values()|list %}
                <tr id="product_{{ values[1] }}">
                    {% for value in values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td>
                        <button id="sell_button" onclick="configureModal('sell')" type="button" class="btn btn-success" data-toggle="modal" value="{{ values[0] }}" data-target="#sale_modal">გაყიდვა</button>
                        <button id="buy_button" onclick="configureModal('buy')" type="button" class="btn btn-primary" data-toggle="modal" value="{{ values[0] }}" data-target="#sale_modal">შევსება</button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div class="modal fade" id="sale_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">გაყიდვა</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal_body">
                    <div class="form-group" id="quantity_div">
                        <label for="quantity" class="form-label">რაოდენობა</label>
                        <input type="text" class="form-control" name="quantity" id="quantity" aria-describedby="quantity">
                    </div>
                    <div class="form-group">
                        <label for="price_per_piece" class="form-label">თითოს ფასი</label>
                        <input type="text" class="form-control" name="price_per_piece" id="price_per_piece" aria-describedby="sell_price">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">დახურვა</button>
                    <button id="modal_submit_button" type="button" class="btn btn-primary" data-dismiss="modal">დასტური</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let saved_category = '{{ product_category }}'
        $('#card-title').text('მარაგი')
        $('#collapseUtilities').addClass('show')
    </script>
{% endblock %}

